.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

header{
    background: rgb(100, 172, 100);
    width:100%;
    grid-column:1/4;
    grid-row:1/2;
    display:grid;
    grid-template-rows: 2fr 1fr;
    /* text-indent: 5%; */
}
header h1{
    
    grid-column:1/4;
    text-align: center;
    /* border: black solid 1px; */
    margin: auto;
}


body{
    background:rgb(198, 236, 162);
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}


nav{
    /* border:solid black 5px; */
    margin: 0 auto;
    width:80%;
    max-width:80%;
    grid-column:1/4;
    grid-row:2/3;
    display:flex;
    flex-wrap:nowrap;
}
nav a{
    font-family: 'Lugrasimo';
    padding:10px;
    margin:5px;
    background: green;
    width:25%;
    text-align: center;
    text-wrap: nowrap;
    border:5px double rgb(0, 82, 0);
    border-radius: 10px;
}
nav a:hover {
    background-color:#414bbe;
    color:skyblue;
    border:black 5px double;
    border-radius: 20px;
}


main{
    width:90%;
    margin-left: 5%;
    background:yellow;
    grid-row:2/4;
    grid-column: 1/4;
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.Main{
    background:purple;
    grid-column:1/1;
    font-size: 24px;
    text-indent: 5%;
    padding:20px;
}


.Side{
    background:red;
    grid-column:2/3;
    font-size: 16px;
    text-indent: 5%;
    padding:20px;

}

.Footer{
    background:blue;
    grid-column: 1/4;
    grid-row:3/4;
    text-indent: 5%;
}